* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
button {
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  outline: none;
  background: white;
  width: 50%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 5%;
  color: white;
  border: none;
  cursor: pointer;
}
.control-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
}
.show-selected-block {
  background-color: blueviolet;
}
.hide-selected-area {
  background-color: black;
}
.show-all {
  background-color: white;
  color: black;
  border-style: solid;
  border-color: black;
}
.download {
  background-color: blueviolet;
}
.preview-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100vh;
}
.input-file {
  display: none;
}
.upload-image {
  background-color: brown;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  outline: none;
  width: 50%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 5%;
  color: white;
  border: none;
}
.image-editor {
  position: relative;
}
#uploaded-image {
  z-index: 13;
}
#myCanvas {
  z-index: 15;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
}
#canvasForDraw {
  z-index: 14;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: red;
}
